*{
	margin:0;
}

section{
	height:450px;
	margin-bottom:20px;
}


h2 span{
	margin:20px;
}

h4 span{
	margin:20px;
}

button span{
	font-size:25px;
}

article{
	text-align:center;
}

#correct{
	font-size:70px;
	margin:auto;
	text-align:center;
}

#next{
	font-size: 40px;
	padding-top:30px;
	color:#BBBBFF;
	margin:auto;
	text-align:center;
}

#sekcja{
	cursor: pointer;
}

#bg{
	position:absolute;
	top:0;
	display:none;
	width:100vw;
	height:100vh;
}

a{
	color:black;
}

#icon{
	margin:auto;
	width:100px;
	color:white;
}

img{
	margin-top:30px;
}

h1{
	text-align: center;
	margin: 20px 0 20px 0;
	font-size:66px;
}

h2{
	text-align: center;
	margin-bottom:30px;
	font-weight: 400;
	font-size:22px;
}

h3, h4{
	text-align: center;
	margin-top:30px;
	color:white;
}

h5{
	padding-top:100px;
	padding-bottom:10px;
	font-size:40px;
	font-weight: 400;
}

p{
	margin-bottom:8px;
	font-size:20px;
	font-weight: 300;
}

input{
	font-size:30px;
	margin:auto;
	text-align:center;
	width:400px;
	display:block;
	margin-top:30px;
	padding:5px 0;
	outline:none;
	background-color:#DDDDFF;
	color:black;
	border:none;
	border-radius:20px;
}

input:focus{
	background-color: #CCCCEE;
}

textarea{
	background-color: #DDDDFF;
	margin-top:20px;
}


button{
	background-color: #FFFF00;
	padding:10px 20px;
	display:block;
	margin:auto;
	color:black;
	border-radius:20px;
	border:none;
	outline:none;
	font-weight: 700;
	font-size:18px;
}

button:hover{
	background-color: #DDDD00;
}

.btn{
	position: absolute;
	right:20px;
	top:5px;
}

.btn:hover{
	background-color:#DDDDDD;
}

.wynik{
	width:300px;
	margin:auto;
	font-size:25px;
	margin-bottom:10px;
	letter-spacing: 1px;
}

span{
	font-size:25px;
}

footer{
	margin-top:20px;
}

@media (max-width: 500px){
	input{
		width:80vw;
	}

	#correct{
		font-size:60px;
		height:90px;
	}

	#next{
		font-size:30px;
		height:105px;
	}
}

@media(max-width:991px){
	#sekcja-contact{
		height:720px;
	}
	h5{
		padding-top:40px;
	}
}

.form-control{
	margin-top:0;
	background-color:#DDDDFF; 
}

.form-control:focus, textarea:focus{
	background-color: #CCCCEE;
}

label a{
	color:white;
}
