*{
	margin:0;
}


nav{
	margin:auto;
}

section{
	height:450px;
}

h2 span{
	margin:20px;
}

button span{
	font-size:25px;
}

#sekcja{
	cursor: pointer;
}

#bg{
	position:absolute;
	top:0;
	display:none;
	width:100vw;
	height:100vh;
}

a{
	color:black;
}

#icon{
	margin:auto;
	width:100px;
	color:white;
}

img{
	margin-top:30px;
}

h1{
	text-align: center;
	margin: 20px 0 20px 0;
	font-size:66px;
}

h2{
	text-align: center;
	margin-bottom:30px;
	font-weight: 400;
	font-size:22px;
}

button{
	background-color: #FFFF00;
	padding:10px 20px;
	display:block;
	margin:auto;
	color:black;
	border-radius:20px;
	border:none;
	outline:none;
	font-weight: 700;
	font-size:18px;
}

button:hover{
	background-color: #DDDD00;
}

.btn{
	position: absolute;
	right:20px;
	top:5px;
}

footer{
	margin-top:20px;
}

